<div class="about" [style.width]="aboutWidth">
  <div class="heading">
    About Us
  </div>
  <!-- <mat-grid-list [cols]="breakpoints" [rowHeight]="aboutRowHeight" (window:resize)="onResize($event.target)">
    <mat-grid-tile [colspan]="aboutColums[0]">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="aboutColums[1]">
      <ul>
        <li *ngFor="let bullet of aboutBullets">{{bullet}}</li>
      </ul>
    </mat-grid-tile>
  </mat-grid-list> -->
  <div class="about-content">
    <div class="content1"><div class="about-heading">Our Strategy</div>
      <div>
        AUTOMATE EVERYTHING® CLOUDIFY EVERYTHING® and TRANSFORM CUSTOMER EXPERIENCES® is our three-pronged strategy to
        fast-track enterprises into the digital era. This strategy endeavors to power human-machine collaboration -
        solve complex business problems using a combination of human creativity & intellect. We leverage the power of
        ubiquitous data, insights-driven algorithms and strategic cloud computing to help customers achieve business
        transformation.
      </div>
    </div>
    <div class="content2"><div class="about-heading">Our Team</div>
      <div>Our workforce is a fusion of varied culture, across the globe. This diversity has contributed to the overall
        growth story by leaps and bounds. </div>
    </div>
  </div>
</div>
